RewriteEngine On
RewriteCond %{HTTP_HOST} ^conocegoodyear.cl [NC]
RewriteRule ^(.*)$ https://www.conocegoodyear.cl/$1 [L,R=301]

Redirect /catalogoconsumer /descargas/Catalogo%20Goodyear%20Consumer%20.pdf
Redirect /catalogocommercial /descargas/Catalogo_Produtos_Commercial_2020_16x23_200720.pdf
Redirect /catalogootr /descargas/SPANISH%20CAT%C3%81LOGO_OTR_FEB%202015.pdf