body {
    font-family: 'TradeGothicLTStd', sans-serif;
    color: #004289;
}

.flotacentros {
    border-bottom: 20px solid #004289;
    h2 {
        border-bottom: 1px solid #004289;
        font-weight: bold;
        margin-top: 40px;
    }
    h3 {
        font-size: 24px;
        font-weight: bold;
        padding-left: 20px;
    }
    h4 {
        font-size: 20px;
        font-weight: bold;
        padding-left: 20px;
    }
    p {
        margin-bottom: 0.2rem;
        margin-left: 20px;
        color: #666;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
    }
    img {
        width: 18px;
        margin-left: -20px;
    }
    .row {
        div {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
        h2 {
            font-size: 55px;
            margin-top: 60px;
            margin-bottom: 40px;
        }
        h3 {
            font-size: 36px;
        }
        h4 {
            font-size: 26px;
        }
        p {
            font-size: 20px;
        }
    }
}

@font-face {
    font-family: 'TradeGothicLTStd';
    font-weight: normal;
    src: url("../fonts/TradeGothicLTStd Cn18.otf");
}
@font-face {
    font-family: 'TradeGothicLTStd';
    font-weight: bold;
    src: url("../fonts/TradeGothicLTStd-BdCn20.otf");
}